<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFoodDelight</title>
</head>
<body>
    <header>
        <h1>Nuestra Carta</h1>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="/views/">Galería</a>
            <a href="/views/">Login</a>
        </nav>
    </header>
    <section class="gallery">
        <h2>Descubre nuestros platillos</h2>
        <div class="gallery-grid">
            <img src="/src/assets/images/Hamburguesa.jpg" alt="Hamburguesa">
            <img src="/src/assets/images/Pizza.jpg" alt="Pizza">
            <img src="/src/assets/images/AlitasBBQ.jpeg" alt="AlitasBBQ">
            <img src="/src/assets/images/PerroCaliente.jpg" alt="PerroCaliente">
            <img src="/src/assets/images/Salchipapa.jpg" alt="Salchipapa">
            <img src="/src/assets/images/Malteada.jpg" alt="Refrescos">
        </div>
    </section>
    <footer>
        <p>© 2024 FastFood Delight. Todos los derechos reservados.</p>
    </footer>    
</body>
</html>